.createElement{
    color: #3a99f8;
    font-size: 35px;
    text-decoration: none;
   
}

#nuevoElemento{
    padding: 25px;
    margin-bottom: 25px;
}

#botones{
    height: auto;
    float: right;
    width: 190px;
}

#migasPan{
    height: auto;
    float: left;
    margin-left: 100px;
    margin-top: 30px;
    background: #3a99f8;
    padding: 3px 10px 3px 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

#archivos{
    padding: 20px;
    border-radius: 10px;
    /*margin: 20px 80px 80px 150px;*/
    width: 90%;
    margin: 0px auto;
    height: auto;
    box-shadow: 2px 2px 20px  rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.folder, .file{
    font-size: 40px;
    text-align: center;
    cursor: pointer;
}

#archivos a span, #ficheros a span{
    color: black;
}

#archivos a, #ficheros a{
    text-decoration: none;
    color: gray;
}

#archivos div:hover a, #archivos div:hover span{
    color: #3a99f8;
}

/* Modales de Bootstrap */
 input[type="text"] {
    padding: 4px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid rgba(38, 40, 44, 0.9);
    width: 80%;
    display: flex;
    flex-direction: row;
}
/* Maquetado del contenedor de MI PERFIL */
.contenedor{
    width: 800px;
    margin: 0px auto;
    }

.contenedor h2{
    text-align: center;
    margin-top: 30px;
}

/***** TABLA ****/
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
table tr:nth-child(even){
    background-color: #f2f2f2;
}
  
table tr:hover {
    background-color: #ddd;
}
  
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background: #007bff;
    color: white;
  }

#options{
    font-size: 25px;
}